*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
height:100% ;  
}

body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E0E8FF;
  background-image: url(../images/main_background.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Red Hat Display',sans-serif;
}

.wrapper-container{
  max-width: 450px;
  background-color: white; 
  border-radius: 20px;
}


.wrapper-container__inner {
padding: 45px 48px 48px; 
text-align: center;
}
.wrapper-container__h1 {
color: #1F2E55;
font-weight: 900;
font-size: 28PX;
line-height: 37px;
margin-bottom: 17px;
}
.wrapper-container_paragragh {
margin-bottom: 20px;
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #717FA6;
}
.wrapper-container__plan {
background-color: #f7f9ff;
padding: 25px 24px;
display: flex;
align-items: center;
border-radius: 11px;
margin-bottom: 32px;
}
.wrapper-container__icon {
height: 48px;
width: 48px;
background-color: #DFE6FB;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
margin-right: 20px;
}
.wrapper-container__price {
margin-right: auto;
}
.wrapper-container__price-tittle {
margin-bottom: 6px;
color: #1F2E55;
font-weight: 900;
font-size: 16px;
line-height: 21px;
}

.wrapper-annual-price-info {
color: #717FA6;
font-weight: 500;
font-size: 16px;
line-height: 21px;
}
.wrapper-conatiner__link {
 color: #382EA1;
 font-weight: 700;
 font-size: 14px;
 line-height: 18px;
}

.wrapper-conatiner__link:hover{
color: #776CF1;
}
.wrapper-container__btn-wrapper {
display: flex;
flex-direction: column;
}
.wrapper-container__payment-btn {
margin-bottom: 32px;
background-color: #382AE1;
background: #382AE1;
box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
border-radius: 11px;
text-decoration: none;
font-size: 15px;
font-weight: 900;
color: #fff;
padding: 15px 0px;
}

.wrapper-container__payment-btn:hover{
color: #766CF1;
}
.wrapper-container__cancel-btn:hover{
color: #1F2E55;
}
.wrapper-container__cancel-btn {
color: #717FA6;
}